/* CSSTerm.com Horizontal Easy DropDown CSS menu */
.drop_menu {
	background: #ddd;
	padding:0;
	margin:0;
	list-style-type:none;
	height:40px;
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:12px 20px;
	display:block;
	color:#474749;
	text-decoration:none;
	/*border-right:1px solid #bababe;*/
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
	z-index: 1000;
}
.drop_menu li:hover { position:relative; background:#bababe; }
.drop_menu li:active { position:relative; background:#ddd; }
.drop_menu li:hover a { color: #fff; }
.drop_menu li:active a { color: #474749; }
.drop_menu li:hover ul {
	left:0px;
	top:37px;
	background:#bababe;
	padding:0px;
	border-radius: 10px;
}

.drop_menu li:hover ul li a {
	padding:10px;
	display:block;
	width:190px;
	text-indent:15px;
	background-color:#bababe;
	color: #fff;
}
.drop_menu li:hover ul li a:hover { background:#ddd; color: #474749; }


#show-calendar-content a {
	color: black;
}

.fieldset-calendar fieldset {
	border: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
}

/* HELPER CLASSES */

/* This class emulates deprecated tag <center>. */
.center {
	display: block;
	text-align: center;
	text-align: -moz-center;
	text-align: -webkit-center;
}

.color-banner-box {
	width: 33px;
    height: 15px;
}

input[type="text"].bg-text-gray {
    background-color : #d1d1d1;
}